<div class="speaker">
	<div class="speaker__profile-image"> {{ photo }}</div>
	<div class="speaker__name"> {{ name }} </div>
	<div class="speaker__designation"> {{ designation }} </div>
	<div class="speaker__organization"> {{ organization }} </div>
</div>