@use '../../../src/scss/settings' as *;

.my-cta {
  margin: 0;
  padding: 1em 2em;
  color: $color--white;
  background-color: $color--primary;
  text-decoration: none;
  text-transform: uppercase;
}
